.timeline-container > .timeline-container-body > .overlay-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    width: 100%;
    height: 100%;
    
    background: var(--primary-background-transparent);
    backdrop-filter: blur(0.375em);
    
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
    
    &[expanded] {
        opacity: 1;
        pointer-events: unset;
    }

    // General stylings for any individual overlay
    & > * {
        max-height: 100%;
        overflow-y: scroll;

        margin: 0;
        padding: 0;
        flex-grow: 99;
        
        text-align: left;
    }
}

// The menu which displays as default on any overlay
.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay {
    flex-grow: 1;
    list-style: none;
    overflow: visible;

    &::-webkit-scrollbar {
        display: none;
    }

    // Each menu item
    & > li {
        padding: 1.25em 1.5em;
        cursor: pointer;
        user-select: none;
        outline: none;

        & > svg {
            width: 2ch;
            margin: 0 1ch 0 0;
        }
        
        &:is(:hover, :focus):not(:active) {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.125), transparent);
        }
    }

    // The menu collapses to hide item labels when it has a neighbor
    &:not(:last-child) > li {
        text-align: center;

        &[isopen] {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.25), transparent, transparent);

            &::before {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                right: unset;
                width: 0.25em;
                background: white;
            }
        }

        &:is(:hover, :focus):not(:active) {
            background: rgba(255, 255, 255, 0.125);
        }

        svg {
            margin: 0;
        }
        span {
            display: none;
        }
    }
}

// Breadcrumbs element used in both Navigation and Notes overlays
.timeline-container > .timeline-container-body > .overlay-layer .selected-breadcrumbs {
    margin: 0;
    font-weight: normal;
    outline: none;
    transition: 0.2s ease;

    user-select: none;

    & > * {
        display: inline-block;
        vertical-align: middle;
    }
    & > * + * {
        margin-left: 1ch;
    }
    & > svg {
        color: rgba(255, 255, 255, 0.5);
    }

    // Button/Select elements
    & > .clear-select,
    & > .timeline-select,
    & > .event-select {
        padding: 1.25rem 1.5rem;

        color: inherit;
        font-size: inherit;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        transition: 0.2s ease;

        &:hover:not(:active), &:focus {
            background-color: rgba(255, 255, 255, 0.125);
        }

        & > option {
            color: black;
        }
    }
}

// The Naviation element shows a file explorer view
.timeline-container > .timeline-container-body > .overlay-layer > .main-overlay {
    padding-bottom: 1em;

    .notes-section {
        margin: 1em 0 2em;
        
        .selected-label {
            font-size: 1.7em;
            font-weight: bold;
        }
        .selected-notes {
            margin-top: 1em;
        }
    }

    .hr {
        border-top: 0.125em solid rgba(255, 255, 255, 0.125);
    }
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay {    
    padding-bottom: 1em;

    .search-controls {
        width: 100%;
        display: flex;

        * {
            padding: 1.375em;
    
            background: transparent;
            border: none;
            outline: none;
            
            color: inherit;
            font-size: inherit;
            
            &:is(:hover, :focus-within) {
                background: rgba(255, 255, 255, 0.125);
            }
        }

        .search-field {
            flex-grow: 1;

            &::placeholder {
                color: white;
            }
        }

        .search-filter {
            cursor: pointer;

            & > option {
                color: var(--primary-background);
            }
        }
    }
}

.timeline-container .overlay-layer .timeline-item-list {
    margin: 0px;
    padding: 0px;

    .list-header {
        display: flex;
        width: 100%;
        
        & > * {
            padding: 1em;
        }
        .list-item-count {
            flex-grow: 1;
        }
        .list-detail-toggle {
            font-size: inherit;
            border: none;
            background: transparent;
            cursor: pointer;

            & > svg {
                width: 2ch;
                margin-right: 1ch;
            }

            &:is(:hover, :focus):not(:active) {
                background: rgba(255, 255, 255, 0.125);
            }
        }
    }

    .list-body {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .list-item {
        display: table-row;
        color: white;
        border-bottom: 0.25em dotted rgba(255, 255, 255, 0.125);
        outline: none;
                
        &:is(:hover, :focus):not(:active) {
            background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.03125), transparent);
            
            &:not([eventlabel]) > .item-summary-cell {
                border-left-width: 1.5em !important;
                padding-left: 1em;
            }
            
            &[eventlabel] > .item-summary-cell {
                padding-left: 2em;
            }
        }
        
        .item-summary-cell {
            transition: 0.2s ease;
            border-left: 0px solid transparent;
        }
        &:not([eventlabel]) > .item-summary-cell {
            border-left-width: 0.5em !important;
            padding-left: 1em !important;
        }
        & > :not(.item-summary-cell) {
            vertical-align: middle;
            font-size: 1.5em;
            text-align: center;
            opacity: 0.25;
        }


        & > * {
            display: table-cell;
            padding: 1em;
        }

        .item-label {
            display: inline-block;
            font-size: 1.17em;
            font-weight: bolder;
        }
        .item-notes {
            margin-top: 0.5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.timeline-container .overlay-layer .parent-label {
    margin-bottom: 0.5em;

    span {
        font-weight: bold;
    }
    & > svg {
        width: 2ch;
        margin: 0 1ch;

        opacity: 0.5;
        
        &:last-of-type {
            opacity: 0.25;
        }
    }
}
.timeline-container .link-button {
    cursor: pointer;

    &:is(:hover, :focus):not(:active) {
        text-decoration: underline;
        text-decoration-thickness: 0.15em;
        text-underline-offset: 0.25em;
    }
}