@import 'mixins';
@import 'timelines';
@import 'overlays';

:root {
    --primary-background: hsl(283, 47%, 7%);
    --primary-background-transparent: hsla(282, 49%, 7%, 0.5);
}

body {
    margin: 0;
    padding: 0;

    .App {
        max-width: 960px;
        padding: 1.5em 0;
        margin: 0 auto;
        overflow: hidden;
    }
}

.timeline-container {
    max-width: 100%;
    background: var(--primary-background);
    border-radius: 0.375em;

    color: white;
    outline: none;
    overflow: hidden;

    &, *, *::before, *::after {
        position: relative;
        box-sizing: border-box;

        backface-visibility: hidden;
        transform: translate3d(0,0,0) 
    }
    * {
        color: inherit;
    }

    &[fullscreen] {
        position: fixed;
        inset: 0;
        border-radius: unset;
    }

    ::-webkit-scrollbar {
        width: 1.5em;
        height: 1.5em;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 50em;
        border: 0.5em solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-track{
        background: transparent;
    }

    & > .timeline-container-body {
        padding-bottom: 3.5em;
        height: calc(100% - 3.25em);
    }

    & > .timeline-container-header {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1000;

        & > * {
            padding: 1em;
        }

        & > .project-title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-grow: 1;
        }

        & > .menu-button,
        & > .expand-collapse-button {
            font-size: inherit;
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;


            &:not(:hover):not(:focus) {
                opacity: 0.5;
            }
            &:is(:hover, :focus) {
                &.menu-button {
                    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), transparent, transparent);
                }
                &.expand-collapse-button {
                    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.25), transparent, transparent);
                }
            }

            @include has-left-icon;
        }
    }
}