.timeline-container > .timeline-container-body > .timeline {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0 0 0.5em;
  z-index: 500;
  list-style: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

.timeline-container > .timeline-container-body > .timeline[dragging] {
  cursor: col-resize;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item {
  display: table-row;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item:not(.ruler-container):is(:hover, :focus-within) {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.0625)), to(transparent));
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.0625), transparent);
  z-index: 1000;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item > * {
  display: table-cell;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item > .line-label {
  font-weight: bold;
  text-align: left;
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item > .line-label > * {
  padding: 0.75em;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 0.125em solid transparent;
  outline: none;
  cursor: pointer;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item > .line-label > .line-toggle:is(:hover, :focus):not(:active) > svg {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item > .line-label > .line-toggle > svg {
  width: 2ch;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.timeline-container > .timeline-container-body > .timeline > .timeline-item > .line-container {
  width: 99%;
  padding: 0 2em 0 1em;
}

.timeline-container > .timeline-container-body > .timeline > .ruler-container {
  position: -webkit-sticky;
  position: sticky;
}

.timeline-container > .timeline-container-body > .timeline > .ruler-container > .ruler {
  padding: 0.5em 2em 0.5em 1em;
}

.timeline-container > .timeline-container-body > .timeline > .ruler-container > .ruler > .ruler-wrapper {
  height: 1.5em;
}

.timeline-container > .timeline-container-body > .timeline > .ruler-container > .ruler > .ruler-wrapper > .rule::before {
  content: attr(posn);
  display: block;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper {
  width: calc(100% - 3em);
  height: 100%;
  position: absolute;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg line {
  stroke-width: 0.5em;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg line.line-end {
  stroke-linecap: round;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg circle.line-event {
  r: 0.5em;
  stroke-width: 0.25em;
  fill: var(--primary-background);
  -webkit-filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.5));
  outline: none;
  cursor: pointer;
  -webkit-transition: r 0.2s ease;
  transition: r 0.2s ease;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg circle.line-event:is(:hover, :focus):not(:active) {
  r: 0.75em;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg circle.line-event:is(:hover, :focus):not(:active) ~ * {
  visibility: visible;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg circle.line-event ~ * {
  visibility: hidden;
  pointer-events: none;
}

.timeline-container > .timeline-container-body > .timeline .line-wrapper > svg circle.line-event ~ *:is(line) {
  stroke: white;
  stroke-width: 0.375em;
  stroke-linecap: round;
}

.timeline-container > .timeline-container-body > .timeline-tracker {
  width: 0.125em;
  height: calc(100% - 3em);
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.15);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  pointer-events: none;
}

.timeline-container > .timeline-container-body > .timeline-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: inherit;
  z-index: 500;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-scrollbar {
  height: 0.5em;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-scrollbar > .scrollbar-thumb {
  height: 100%;
  border-radius: 50em;
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-box-shadow: 0 0 2em rgba(255, 255, 255, 0.075);
          box-shadow: 0 0 2em rgba(255, 255, 255, 0.075);
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls * > svg:first-child {
  width: 2ch;
  margin-right: 1ch;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls button {
  padding: 0;
  font-size: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls button:not(.clear-button):is(:active, :not(:hover):not(:focus)) {
  opacity: 0.5;
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls button.clear-button {
  background: -webkit-gradient(linear, right bottom, left top, from(crimson), color-stop(transparent), to(transparent));
  background: linear-gradient(to top left, crimson, transparent, transparent);
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls button.clear-button:is(:active, :not(:hover):not(:focus)) {
  color: rgba(255, 255, 255, 0.5);
}

.timeline-container > .timeline-container-body > .timeline-bottom > .timeline-controls > .zoom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: ew-resize;
}

.timeline-item:is([disabled], :not([tracked])) .line-toggle:not(:hover):not(:focus) > svg,
.timeline-item:is([disabled], :not([tracked])) .line-name:not(:hover):not(:focus) > span,
.timeline-item:is([disabled], :not([tracked])) .line-wrapper > svg {
  opacity: 0.25;
}

.timeline-item:is([disabled], :not([tracked])) .line-toggle:not(:hover):not(:focus) > svg > line,
.timeline-item:is([disabled], :not([tracked])) .line-name:not(:hover):not(:focus) > span > line,
.timeline-item:is([disabled], :not([tracked])) .line-wrapper > svg > line {
  stroke-width: 0.375em !important;
}

.timeline-container > .timeline-container-body > .overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--primary-background-transparent);
  -webkit-backdrop-filter: blur(0.375em);
          backdrop-filter: blur(0.375em);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.timeline-container > .timeline-container-body > .overlay-layer[expanded] {
  opacity: 1;
  pointer-events: unset;
}

.timeline-container > .timeline-container-body > .overlay-layer > * {
  max-height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 99;
      -ms-flex-positive: 99;
          flex-grow: 99;
  text-align: left;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
  overflow: visible;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay::-webkit-scrollbar {
  display: none;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay > li {
  padding: 1.25em 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay > li > svg {
  width: 2ch;
  margin: 0 1ch 0 0;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay > li:is(:hover, :focus):not(:active) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.125)), to(transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.125), transparent);
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay:not(:last-child) > li {
  text-align: center;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay:not(:last-child) > li[isopen] {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.25)), color-stop(transparent), to(transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25), transparent, transparent);
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay:not(:last-child) > li[isopen]::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  right: unset;
  width: 0.25em;
  background: white;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay:not(:last-child) > li:is(:hover, :focus):not(:active) {
  background: rgba(255, 255, 255, 0.125);
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay:not(:last-child) > li svg {
  margin: 0;
}

.timeline-container > .timeline-container-body > .overlay-layer > .menu-overlay:not(:last-child) > li span {
  display: none;
}

.timeline-container > .timeline-container-body > .overlay-layer > .main-overlay {
  padding-bottom: 1em;
}

.timeline-container > .timeline-container-body > .overlay-layer > .main-overlay .notes-section {
  margin: 1em 0 2em;
}

.timeline-container > .timeline-container-body > .overlay-layer > .main-overlay .notes-section .selected-label {
  font-size: 1.7em;
  font-weight: bold;
}

.timeline-container > .timeline-container-body > .overlay-layer > .main-overlay .notes-section .selected-notes {
  margin-top: 1em;
}

.timeline-container > .timeline-container-body > .overlay-layer > .main-overlay .hr {
  border-top: 0.125em solid rgba(255, 255, 255, 0.125);
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay {
  padding-bottom: 1em;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls * {
  padding: 1.375em;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls *:is(:hover, :focus-within) {
  background: rgba(255, 255, 255, 0.125);
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-field::-webkit-input-placeholder {
  color: white;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-field:-ms-input-placeholder {
  color: white;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-field::-ms-input-placeholder {
  color: white;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-field::placeholder {
  color: white;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-filter {
  cursor: pointer;
}

.timeline-container > .timeline-container-body > .overlay-layer > .search-overlay .search-controls .search-filter > option {
  color: var(--primary-background);
}

.timeline-container .overlay-layer .timeline-item-list {
  margin: 0px;
  padding: 0px;
}

.timeline-container .overlay-layer .timeline-item-list .list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.timeline-container .overlay-layer .timeline-item-list .list-header > * {
  padding: 1em;
}

.timeline-container .overlay-layer .timeline-item-list .list-header .list-item-count {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.timeline-container .overlay-layer .timeline-item-list .list-header .list-detail-toggle {
  font-size: inherit;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.timeline-container .overlay-layer .timeline-item-list .list-header .list-detail-toggle > svg {
  width: 2ch;
  margin-right: 1ch;
}

.timeline-container .overlay-layer .timeline-item-list .list-header .list-detail-toggle:is(:hover, :focus):not(:active) {
  background: rgba(255, 255, 255, 0.125);
}

.timeline-container .overlay-layer .timeline-item-list .list-body {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
}

.timeline-container .overlay-layer .timeline-item-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  outline: none;
}

.timeline-container .overlay-layer .timeline-item-list .list-item:not(:last-child) {
  border-bottom: 0.125em solid rgba(255, 255, 255, 0.125);
}

.timeline-container .overlay-layer .timeline-item-list .list-item:is(:hover, :focus-within):not(:active) {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.03125)), to(transparent));
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.03125), transparent);
}

.timeline-container .overlay-layer .timeline-item-list .list-item:is(:hover, :focus-within):not(:active) .item-summary-cell {
  padding-left: 2em;
}

.timeline-container .overlay-layer .timeline-item-list .list-item > * {
  padding: 1em;
}

.timeline-container .overlay-layer .timeline-item-list .list-item > * * {
  color: white;
}

.timeline-container .overlay-layer .timeline-item-list .list-item > *.item-summary-cell {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.timeline-container .overlay-layer .timeline-item-list .list-item > *:not(.item-summary-cell) {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  font-size: 1.5em;
  text-align: center;
  opacity: 0.25;
}

.timeline-container .overlay-layer .timeline-item-list .list-item[type=timeline] > .item-summary-cell::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  right: unset;
  width: 0.5em;
  background: currentColor;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.timeline-container .overlay-layer .timeline-item-list .list-item[type=timeline]:is(:hover, :focus-within) > .item-summary-cell::before {
  width: 1em;
}

.timeline-container .overlay-layer .timeline-item-list .list-item .item-label {
  display: inline-block;
  font-size: 1.17em;
  font-weight: bolder;
}

.timeline-container .overlay-layer .timeline-item-list .list-item .item-notes {
  margin-top: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline-container .overlay-layer .parent-label {
  margin-bottom: 0.5em;
}

.timeline-container .overlay-layer .parent-label span {
  font-weight: bold;
}

.timeline-container .overlay-layer .parent-label > svg {
  width: 2ch;
  margin: 0 1ch;
  opacity: 0.5;
}

.timeline-container .overlay-layer .parent-label > svg:last-of-type {
  opacity: 0.25;
}

:root {
  --primary-background: hsl(283, 47%, 7%);
  --primary-background-transparent: hsla(282, 49%, 7%, 0.5);
}

body {
  margin: 0;
  padding: 0;
}

body .App {
  max-width: 960px;
  padding: 1.5em 0;
  margin: 0 auto;
  overflow: hidden;
}

.timeline-container {
  max-width: 100%;
  background: var(--primary-background);
  border-radius: 0.375em;
  color: white;
  outline: none;
  overflow: hidden;
}

.timeline-container, .timeline-container *, .timeline-container *::before, .timeline-container *::after {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.timeline-container * {
  color: inherit;
}

.timeline-container[fullscreen] {
  position: fixed;
  inset: 0;
  border-radius: unset;
}

.timeline-container ::-webkit-scrollbar {
  width: 1.5em;
  height: 1.5em;
}

.timeline-container ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50em;
  border: 0.5em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.timeline-container ::-webkit-scrollbar-track {
  background: transparent;
}

.timeline-container > .timeline-container-body {
  padding-bottom: 3.5em;
  height: calc(100% - 3.25em);
}

.timeline-container > .timeline-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.timeline-container > .timeline-container-header > * {
  padding: 1em;
  white-space: nowrap;
}

.timeline-container > .timeline-container-header > .project-title {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.timeline-container > .timeline-container-header > .menu-button,
.timeline-container > .timeline-container-header > .expand-collapse-button {
  font-size: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.timeline-container > .timeline-container-header > .menu-button:not(:hover):not(:focus),
.timeline-container > .timeline-container-header > .expand-collapse-button:not(:hover):not(:focus) {
  opacity: 0.5;
}

.timeline-container > .timeline-container-header > .menu-button:is(:hover, :focus).menu-button,
.timeline-container > .timeline-container-header > .expand-collapse-button:is(:hover, :focus).menu-button {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.25)), color-stop(transparent), to(transparent));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), transparent, transparent);
}

.timeline-container > .timeline-container-header > .menu-button:is(:hover, :focus).expand-collapse-button,
.timeline-container > .timeline-container-header > .expand-collapse-button:is(:hover, :focus).expand-collapse-button {
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(255, 255, 255, 0.25)), color-stop(transparent), to(transparent));
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.25), transparent, transparent);
}

.timeline-container > .timeline-container-header > .menu-button > svg:first-child,
.timeline-container > .timeline-container-header > .expand-collapse-button > svg:first-child {
  width: 2ch;
  margin-right: 1ch;
}

.timeline-container .link-button {
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.timeline-container .link-button:is(:hover, :focus):not(:active) {
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.25em;
}

.timeline-container .link-button.line-name {
  margin-left: -2ch;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.timeline-container .scale-icon > svg:first-child {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.timeline-container .scale-icon:is(:hover, :focus-within):not(:active) > svg:first-child {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
/*# sourceMappingURL=style.css.map */